// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.btn-boat{
  background-color: #2078AD !important;
  color: white !important;;
  height: 38px;
  width: 100%;
}

.btn-boat i {
  color: white !important;
  padding-top: 4px;
}

.categories img {
  max-height: 100px;
}

.banner-2 {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

