<div>
  <div class="container">
    <br>
    <br>
    <br>
    <div class="text-center">
      <%= image_tag "13.png", height: '150px' %>
      <h1>Payment Error | Card failed</h1>
      <h1>We're sorry, but something went wrong.</h1>
      <p>Contact your bank for more info.</p>

      <p>If you are the application owner check the logs for more information.</p>
    <a href="/">Back to home</a>
    </div>
  </div>
  <br>
</div>

