<div style="background-color: ; padding-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div style="">
          <h1 style="margin-bottom: 0; font-family: 'IM Fell DW Pica SC', serif; color: #2078AD; font-size: 50px"> Contactanos</h1>
          <br>
          <p><i class="fas fa-phone" style="color: #2078AD;"></i> +65 62230037 <br>
            <br>
            <i class="fas fa-envelope" style="color: #2078AD;"></i> contact@theartling.com <br>
            <br>
            <i class="fas fa-map-marker-alt" style="color: #2078AD;"></i> Singapore <br>

            91B Tanjong Pagar Road <br>
            Singapore 088512 <br>

            Office Hours: Mon-Fri 1000 - 1700 <br>
            <br>
            <i class="fas fa-map-marker-alt" style="color: #2078AD;"></i>  Shanghai <br>

            1F, Building 31, No. 322 <br>
            Jiaozhou Road, Shanghai <br>

          By Appointment Only</p>
          <br>
          <br>
        </div>
      </div>
      <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12088.901455905436!2d-73.98040158273815!3d40.75706775823158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f97bdb102b%3A0xea9f8fc0b3ffff55!2sThe%20Museum%20of%20Modern%20Art!5e0!3m2!1sen!2spa!4v1650350147928!5m2!1sen!2spa" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
  <div class="container">
   <div style="background-color: white; padding: 30px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
     <div class="text-center">
      <h1 style="font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">Dejanos un mensaje</h1>

    </div>

    <form class="simple_form new_client" id="new_client" novalidate="novalidate" action="/clients" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="vZMxwigajIme5AkJppWtNmWKUbkiphzExdefpsaN3zRWBXDqgvTlRodqyPAa50+xcC59o9FL4d3gdut/QQQh+w==">



      <div class="form-inputs">
        <div class="mb-3 string required client_name"><label class="form-label string required" for="client_name">Nombre Completo <abbr title="required">*</abbr></label><input class="form-control string required" type="text" name="client[name]" id="client_name"></div>
        <div class="mb-3 email required client_email"><label class="form-label email required" for="client_email">Correo Electronico <abbr title="required">*</abbr></label><input class="form-control string email required" type="email" name="client[email]" id="client_email"></div>
        <div class="mb-3 tel optional client_phone"><label class="form-label tel optional" for="client_phone">Numero de Telefono</label><input class="form-control string tel optional" type="tel" name="client[phone]" id="client_phone"></div>
        <div class="mb-3 select required client_service"><label class="form-label select required" for="client_service">Servicio <abbr title="required">*</abbr></label><select class="form-select select required" name="client[service]" id="client_service"><option value=""></option>
          <option value="Consultoria">Consultoria</option>
          <option value="Desarrollo de software">Volverme Proveedor</option>
          <option value="Clases de Programacion">Facturas</option>
          <option value="Otro">Otro</option></select></div>
          <div class="mb-3 text optional client_message"><label class="form-label text optional" for="client_message">Mensaje</label><textarea class="form-control text optional" name="client[message]" id="client_message"></textarea></div>
        </div>
        <div class="text-center">
          <div class="form-actions">
            <button name="button" type="submit" class="btn btn-boat">
              <i class="fas fa-paper-plane"></i> Enviar Mensaje
            </button>    </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
