<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://content.r9cdn.net/rimg/dimg/7d/3e/c3e5ad61-city-33356-16c4e19af0e.jpg?crop=true&width=1366&height=768&xhint=1586&yhint=1227)";>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1 style="margin-bottom: 0; font-family: 'IM Fell DW Pica SC', serif; color: white; font-size: 60px;">Cobertura en Panamá</h1>
        <p style="color: white;">Conoce los Puertos Nacionales, Marinas, Lagos, Rios donde podras encontrar productos de UBoat. <br> A largo de las 9 provincia podras encotrar proveedores que facilitaran tu viaje. </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.puntacaracol.com.pa/wp-content/uploads/2019/08/DJI_0070-2.jpg)">
          Bocas del Toro
        </div>
        <br>
      </div>
      <div class="col-md-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://comprarenpanama.com/wp-content/uploads/2018/04/PLAYA-BLANCA-COCLE.jpg)">
          Coclé
        </div>
        <br>
      </div>
      <div class="col-md-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://mediaim.expedia.com/destination/1/1d8a91c9ba3e2729b384542dbcd5f2f4.jpg">
          Colón
        </div>
        <br>
      </div>
    </div>
    <br>
     <div class="row">
      <div class="col-md-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.lavanguardia.com/files/article_main_microformat/uploads/2018/03/17/5fa435c387eea.jpeg)">
          Chiriquí
        </div>
        <br>
      </div>
      <div class="col-md-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://whc.unesco.org/uploads/thumbs/site_0159_0002-1200-630-20151105151403.jpg)">
          Darién
        </div>
        <br>
      </div>
      <div class="col-md-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://repostpanama.com/media/lugares_turisticos/dbdcabdd90ba9315c0abfc0ad478bf4f.jpg)">
          Herrera
        </div>
        <br>
      </div>
    </div>
    <br>
     <div class="row">
      <div class="col-md-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/2/2d/Panam%C3%A1-Playa.JPG)">
          Los Santos
        </div>
        <br>
      </div>
      <div class="col-md-4">
        <a href="/panama">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.caf.com/media/3682081/panama-1.jpg?anchor=center&mode=crop&width=777&height=437&rnd=132901676710000000)">
          Panamá
        </div>
        </a>
        <br>
      </div>
      <div class="col-md-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://mediaim.expedia.com/destination/1/eea9e899a284885c3869e6f367960851.jpg)">
          Veraguas
        </div>
        <br>
      </div>
    </div>
    <br>
     <div class="row">
      <div class="col-md-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.prensa.com/resizer/qbY4ZYi2dZeAd9fU637FFg2c6aY=/arc-anglerfish-arc2-prod-corprensa/public/SXSPM7XUEBF67BTWCZWXYIEDU4.jpg)">
          Panamá Oeste
        </div>
        <br>
      </div>
      <div class="col-md-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/d/d8/Panama_Embera_0617.jpg)">
          Embera-Wounaan
        </div>
        <br>
      </div>
      <div class="col-md-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.bmpcloud.com/elements/cms/business/believe/images/destinos/nacionales/Comarca/SAM_3704.jpg)">
          Guna Yala
        </div>
        <br>
      </div>
    </div>
    <br>
  </div>
</div>
