<div>
  <div class="container">
    <br>
    <br>
    <br>
    <div class="text-center">
      <%= image_tag "14.png", height: '150px' %>
      <h1>Payment complete | Card approved</h1>
      <h1>Your reservation was created successfully.</h1>
      <p>Check your email for more info.</p>

      <p>If you are the application owner check the logs for more information.</p>
    <a href="/receipts">Your bookings</a>
    </div>
  </div>
  <br>
</div>

