<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://mediaim.expedia.com/destination/1/eea9e899a284885c3869e6f367960851.jpg)";>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1 style="margin-bottom: 0; font-family: 'IM Fell DW Pica SC', serif; color: white; font-size: 60px;">Productos en Veraguas</h1>
        <p style="color: white;">Conoce todos los productos disponibles en la Provincia de Veraguas. </p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div>
  <div class="container">
    <br>
    <div class="row">
      <% @products.each do |product| %>
      <div class="col-md-3">
        <%= render product %>
      </div>
      <% end %>
    </div>
  </div>
</div>
