<div>
  <div class="container">
    <br>
    <div class="text-center">
      <h1>500 Error | Server failed</h1>
      <h1>We're sorry, but something went wrong.</h1>
      <p>You may have mistyped the address or the page may have moved.</p>
    </div>
    <p>If you are the application owner check the logs for more information.</p>
    <a href="/">Back to home</a>
  </div>
  <br>
</div>

