<br>
<br>
<br>
<div class="container">
  <div class="" style=" background-color: white; width: 100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;">
    <br>
    <div class="container">
      <div class="text-center">
        <h1 style="margin-bottom: 0; font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">Buscar Productos</h1>
        <p style="font-family: 'Raleway', sans-serif;">Encuentra todo lo que necesitas para tu proxima aventura en el mar.</p>
      </div>
      <br>
      <div class="row">
       <div class="col-md-1"></div>
       <div class="col-md-8">
        <div class="mb-3 select optional property_tipo"><select class="form-select select optional" name="property[tipo]" id="property_tipo" placeholder="Busca Naves, Personal, Servicios y Más.">
          <option value="" disabled selected>Busca Naves, Personal, Servicios y Más.</option>
          <option value="Venta">Naves</option>
          <option value="Alquiler">Tripulacion</option>
          <option value="Alquiler">Pesca</option>
          <option value="Alquiler">Servicios</option>
          <option value="Alquiler">Buceo</option>
        </select></div>

      </div>
      <div class="col-md-2"><%= link_to "Buscar", '/', class: 'btn btn-boat space' %></div>
      <div class="col-md-1"></div>
    </div>
    <br>
  </div>
</div>
</div>
<br>
<br>

<div class="container">
  <br>
  <div class="row">
   <% @products.each do |product| %>
   <div class="col-md-3">
      <%= render product %>
    </div>
  <% end %>
  </div>
</div>

