<div class="container" style="padding-top: 100px;">
  <div style="background-color: white; padding: 30px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <br>
    <h2 style=" font-family: 'IM Fell DW Pica SC', serif;"><i class="fas fa-store" style="color: #2078AD;"></i>Nuevo Producto</h2>
    <hr>
    <%= render "form", product: @product %>
    <br>
    <div>
    </div>
  </div>
</div>
<br>
<br>
<br>

