
<br>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="container" style="padding-top: 30px;">
      <div style="background-color: white; padding: 30px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div style="display: flex; justify-content: space-between;">
        <div>
        <h2><i class="fas fa-receipt" style="color: #2078AD;"></i> Orden #0<%= @receipt.id %></h2>
      </div>
        <div>
          <h2><i class="fas fa-circle" style="color: #2078AD;"></i> Status: <%= @receipt.status %></h2>
        </div>
      </div>
        <hr>
        <%= render @receipt %>


      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<br>
<br>
<br>
<br>
